<!doctype html>
<html ng-app="ba">
  <head>
    <meta charset="utf-8">
    <title>dollyJump</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="//localhost:7777/" />
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <nav></nav>
    <main ui-view="ba-main"></main>
    <!-- bower:js -->
    <script src="/js/vendor/jquery/dist/jquery.js"></script>
    <script src="/js/vendor/angular/angular.js"></script>
    <script src="/js/vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/js/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/js/vendor/angular-ui-router.stateHelper/statehelper.js"></script>
    <!-- endbower -->
    <script src="/js/app.js"></script>
    <script src="/js/templateCacheHtml.js"></script>

  </body>
</html>
